
:root {
  --divider-width: 20px;
  --interval-table-left-width: 220px;
  --interval-row-height: 40px;
  --light-grey: #f2f2f2;
  --dark-grey: #a2aeb4;
  --dark-blue: #2f4050;
}

.intervalTable {
  position: relative;
  height: calc(100vh - 10px);
  overflow: auto;
  padding-right: 140px;
  margin-right: -140px;
}

.intervalTable {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.intervalTable::-webkit-scrollbar {
  display: none;
}

.intervalTableWrapper {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 25px 3px rgba(34, 60, 80, 0.33);
}

.intervalTableHeader {
  display: flex;
}

.intervalTableBody {
  position: relative;
}

.intervalTableRow {
  display: flex;
  height: var(--interval-row-height);
  border-bottom: 1px solid var(--light-grey);
  align-items: center;
  position: relative;
}

.intervalChartWrapper,
.intervalHeaderWrapper {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.intervalChartWrapper {
  padding-left: 200px;
  height: 200px;
  z-index: 300;
}

.intervalHeaderWrapper {
  top: 200px;
}

.intervalTableName,
.intervalTableNameHeader {
  width: var(--interval-table-left-width);
  height: var(--interval-row-height);
  flex-shrink: 0;
  line-height: var(--interval-row-height);
  border-right: 1px solid var(--light-grey);
  text-indent: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 20px;
}

.intervalHeaderWrapper {
  border-bottom: 1px solid var(--dark-grey);
  border-top: 1px solid var(--dark-grey);
}

.intervalTableRight {
  position: relative;
  flex-grow: 1;
}

