
.intervalHours {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.intervalHours > div {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.intervalHoursColumn {
  height: 40px;
  font-size: 12px;
  flex: 1 1 0px;
}

.intervalHoursColumn:last-child {
  border-right: 1px solid var(--light-grey);
  margin-right: -1px;
}

.intervalHoursColumn span {
  display: block;
  margin-right: -1px;
  max-height: 0;
  text-align: center;
  line-height: 40px;
}

.intervalHoursColumn::after {
  content: '';
  position: absolute;
  background-color: var(--light-grey);
  height: 100%;
  width: 1px;
}
